rdkit==2024.9.6
mordred==1.2.0
numpy==1.26.4
pandas==2.2.2
xgboost==3.0.0
boruta==0.4.3
scikit-learn==1.5.1
optuna==4.3.0
optuna-integration==4.3.0
torch==2.4.1
pytorch-fid==0.3.0
pytorch-lightning==2.5.1
chemprop==2.1.2
click==8.1.7
matplotlib==3.9.2
seaborn==0.13.2
jupyter==1.0.0
tqdm==4.66.5